.timer-tile{
    display: inline-block;
    border: solid 8px rgb(57, 129, 192);
    padding: 1rem;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}

.stop{
    border: solid 8px rgb(192, 57, 57);
}



.btn-row{
    display: inline-block;
}

.btn{
    display: inline-block;
    padding: 1rem;
    background-color: rgb(57, 129, 192);
    border-radius: 10px;
    margin-right: 10px;
    width: 45px;
}

.btn:last-child{
    margin-right: 0;
}

.close{
    position: absolute;
    font-size: 20px;
    right: 20px
}

.stop-btn{
    background-color: rgb(192, 57, 57);
}